CONFIG
fetched/
fetched-*/
jetty-dist/
logs/*/
*~
shibboleth-idp/
shibboleth-idp-*/
saved-*/
secrets/*
!secrets/.gitkeep
!secrets/EXAMPLE_azure.secrets

#
# The overlay directory is ignored, except for
# documentation.
overlay/*
!overlay/*.md

#
# End.
#
